# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.env

# Django stuff:
*.log
local_settings.py

/media/**
!/media

*/migrations/**
!*/migrations
!*/migrations/__init__.py
# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/
